.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cellContainer{
    margin: 20px 0;
    padding: 10px 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.linkItem{
    color: blue;
}

.linkItem:hover{
    color: black;
}